$primary-color: #558dda;

.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 16px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.fw-bold {
  font-weight: bold;
}

button[type=primary] {
  background-color: $primary-color;
}