.battle-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  .u-subsection {
    flex-shrink: 0;
  }
  .overview-wrapper, .rank-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .uni-table {
    min-width: 320px!important;
    .uni-table-th {
      font-size: 26rpx;
      color: #333;
    }
    .td-title {
      font-size: 26rpx;
      color: #999;
      font-weight: normal;
      &.highlight {
        font-weight: bold;
        color: $primary-color;
      }
    }
    .td-data {
      font-size: 28rpx;
      color: #333;
      &.highlight {
        color:#ff1414;
        font-weight: bold;
      }
    }
  }
  .rank-wrapper {
    .header {
      display: flex;
      height: 40px;
      line-height: 40px;
      position: relative;
      font-size: 26rpx;
      color: #606266;
      text-align: center;
      .hd-1 {
        flex: none;
        width: 150rpx;
        text-align: center;
      }
      .hd-2 {
        margin-left: 80rpx;
        flex: 0.4;
        width: 40%;
      }
      .hd-3 {
        flex: 0.6;
        width: 60%;
      }
      .hd-2, .hd-3 {
        .u-dropdown {
          position: static;
        }
      }
    }
    .container {
      flex: 1;
      width: 100%;
      display: flex;
      overflow: hidden;
      >.cnt-l {
        width: 150rpx;
        background-color: #eeeeef;
        flex: none;
        .dimension-item {
          height: 80rpx;
          line-height: 80rpx;
          font-size: 24rpx;
          text-align: center;
          color: #666;
          &.active {
            background-color: $primary-color;
            color: #fff;
            border-radius: 4px;
            box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
          }
        }
      }
      >.cnt-r {
        flex: 1;
        .list-item {
          display: flex;
          flex-wrap: nowrap;
          padding: 20rpx 0;
          font-size: 26rpx;
          line-height: 32rpx;
          .td1 {
            flex: none;
            width: 50rpx;
            padding-left: 20rpx;
            font-size: 28rpx;
            font-weight: bold;
            color: #9cbdd6;
          }
          .td2 {
            display: flex;
            flex: 0.4;
            width: 40%;
            color: $primary-color;
            .icon-jinru {
              position: relative;
              height: 32rpx;
              line-height: 32rpx;
              font-size: 22rpx;
              margin: 0 4rpx;
              color: $primary-color;
              -webkit-text-fill-color: $primary-color;
              &::before {
                position: absolute;
                top: 0;
                left: 0;

              }
            }
            .mjs, .ctz {
              position: relative;
              width: 56rpx;
              height: 26rpx;
              line-height: 26rpx;
              margin-left: 10rpx;
              margin-top: 5rpx;
              border-radius: 8rpx;
              text-align: center;
              font-size: 20rpx;
              color: #fff;
              -webkit-text-fill-color: #fff;
            }
            .ctz {
              background-image: linear-gradient(90deg, #d984fd, #f0b5f8);
            }
            .mjs {
              background-image: linear-gradient(90deg, #aaf9f9, #7dfcfc);
            }
          }
          .td3 {
            flex: 0.60;
            width: 60%;
            font-size: 30rpx;
            font-weight: bold;
            text-align: center;
            letter-spacing: 2rpx;
            color: #666;
          }
          &.tag-item {
            .td3 {
              text-align: left;
              font-size: 24rpx;
              font-weight: normal;
            }
          }
          @keyframes gradientText {
            0% {
                background-position: 0;
            }
            100% {
                background-position: 28000px;
            }
          }
          @mixin text-color-bg {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: auto;
          }
          &.first {
            >.td1, >.td2, >.td3 {
              background: linear-gradient(30deg, #32c5ff 25%, #b620e0 50%, #f7b500 75%, #20e050 100%);
              @include text-color-bg;
            }
            >.td1, >.td3 {
              font-size: 30rpx;
            }
            >.td2, >.td3 {
              animation: gradientText 300s infinite linear;
              -webkit-animation: gradientText 300s infinite linear;
            }
          }
          &.second {
            >.td1, >.td2, >.td3 {
              color: transparent;
              background: -webkit-linear-gradient(30deg, #ff327d 25%, #ef84ed 50%, #f78800 75%, #e020d3 100%);
              @include text-color-bg;
            }
            >.td1, >.td3 {
              font-size: 30rpx;
            }
          }
          &.third {
            >.td1, >.td2, >.td3 {
              color: transparent;
              background: -webkit-linear-gradient(30deg, #ffb032 25%, #ee8637 50%, #ddb0f5 75%, #9ce1ef 100%);
              @include text-color-bg;
            }
            >.td1, >.td3 {
              font-size: 30rpx;
            }
          }
        }
      }
    }
    .tags {
      display: inline-flex;
    }
  }
  .tag-tips-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300rpx;
    padding: 0 60rpx;
    font-size: 26rpx;
    color: #999;
    -webkit-text-fill-color: #999;
    .pop-title {
      font-size: 30rpx;
      color: #022202;
      -webkit-text-fill-color: #022202;
      font-weight: bold;
      margin-bottom: 20rpx;
    }
  }
}